{% extends "base.html" %}

{% block title %}AskUdalov{% endblock %}

{% block content %}
<div class="col-xs-9">
        <ul class="nav nav-tabs questions-tabs">
            <li role="presentation" {% if sortBy == "top" %} class="active" {% endif %}><a href="?sort=top">Top</a></li>
            <li role="presentation" {% if sortBy == "new" %} class="active" {% endif %}><a href="?sort=new">New</a></li>
            <li role="presentation" {% if sortBy == "all" %} class="active" {% endif %}><a href="?sort=all">All</a></li>     
        </ul>
    
    
    <div class="questions-by-tag-container">
        
        {% if sortBy %}
            <div class="h_tags">{{sortBy|title}} Questions</div>
        {% endif %}
        
        {% if tag %}
            <div class="h_tags">Tag: {{tag}}</div>
        {% endif %}
        
        {% for question in Questions %}
            <div class="question-container">
               <div class="row">
                   <div class="col-xs-2">
                       <div class="question-left">
                           <a class="question-avatar-link" id="question-avatar">
                               <img src="{{question.user.avatar}}" class="img-rounded question-avatar-img" id="avatar">  
                           </a>
                           <div class="btn-group btn-group-xs likes-container">
                               <button href="#" class="btn btn-success" id="like-btn-left">                                             <span class="glyphicon glyphicon-plus"></span>
                               </button>
                               <button class="btn btn-success" id="like-btn-counter">{{question.rating}}</button>
                               <button href="#" class="btn btn-success" id="like-btn-right">
                                   <span class="glyphicon glyphicon-minus"></span>
                               </button>
                           </div>
                       </div>
                   </div>
                   <div class="col-xs-10">
                       <div class="question-right">
                           <a href="/question/{{question.id}}"><div class="question-header" id="question-header">{{question.title}}</div></a>
                           <div id="question-body">{{question.text|truncatewords:30}}</div>
                       </div>
                       <div class="row">
                           <div class="col-xs-2">
                               <div class="answers-btn">
                                   <button class="btn btn-success btn-xs" type="button" id="answers-btn">
                                             Answers <span class="badge">{{question.num_answers}}</span>
                                   </button>
                               </div>
                           </div>
                           <div class="col-xs-7 col-xs-offset-3">
                               <div class="question-tags">
                                   {% for tag in question.tag %}
                                       <span> 
                                           <a href="#" class="label label-primary tags">{{tag}}</a>
                                       </span>
                                   {% endfor %}
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        {% endfor %}
        {% if Questions.has_other_pages %}
               <nav>
                   <ul class="pagination">

                       {% if Questions.has_previous %}
                                <li>
                                   <a href="?page={{ Questions.previous_page_number }}{% if tag %}&&tag={{tag}}{% endif %}{% if sortBy %}&&sort={{sortBy}}{% endif %}" aria-label="Previous">
                                       <span aria-hidden="true">&laquo;</span>
                                   </a>
                                </li>
                       {% endif %}

            
                       {% if showFirst %}
                            <li>
                                <a href="?page=1{% if tag %}&&tag={{tag}}{% endif %}{% if sortBy %}&&sort={{sortBy}}{% endif %}" aria-label="Previous">
                                    <span aria-hidden="true">1</span>
                                </a>
                            </li>
                            <li>
                                <span aria-hidden="true">...</span>
                            </li>
                       {% endif %}                                                         


                       {% for page in page_numbers %}
                            <li {% if page == Questions.number %} class="active" {% endif %}>
                                <a href="?page={{ page }}{% if tag %}&&tag={{tag}}{% endif %}{% if sortBy %}&&sort={{sortBy}}{% endif %}">
                                    <span aria-hidden="true">{{ page }}</span>
                                </a>
                            </li>
                       {% endfor %}

                       {% if showLast %}
                            <li>
                                <span aria-hidden="true">...</span>
                            </li>
                            <li>
                                <a href="?page={{ Questions.paginator.num_pages }}{% if tag %}&&tag={{tag}}{% endif %}{% if sortBy %}&&sort={{sortBy}}{% endif %}" aria-label="Previous">
                                    <span aria-hidden="true">{{ Questions.paginator.num_pages }}</span>
                                </a>
                            </li>
                       {% endif %}


                        {% if Questions.has_next %}
                                <li>
                                   <a href="?page={{ Questions.next_page_number }}{% if tag %}&&tag={{tag}}{% endif %}{% if sortBy %}&&sort={{sortBy}}{% endif %}" aria-label="Next">
                                       <span aria-hidden="true">&raquo;</span>
                                   </a>
                                </li>
                        {% endif %}

                   </ul>
               </nav>
        {% endif %}
    </div>              
</div>
{% endblock %}