{% extends "base.html" %}

{% block title %}AskUdalov{% endblock %}

{% block content %}
<div class="col-xs-9">
        <ul class="nav nav-tabs questions-tabs">
            <li role="presentation" {% if sortBy == "top" %} class="active" {% endif %}><a href="?sort=top">Top</a></li>
            <li role="presentation" {% if sortBy == "new" %} class="active" {% endif %}><a href="?sort=new">New</a></li>
            <li role="presentation" {% if sortBy == "all" %} class="active" {% endif %}><a href="?sort=all">All</a></li>     
        </ul>
    
    
    <div class="questions-by-tag-container">
        
        {% if tag %}
            <div class="h_tags">Tag: {{tag}}</div>
        {% else %}
            <div class="h_tags">{{sortBy|title}} Questions</div>
        {% endif %}
        
        {% for question in Questions %}
            <div class="question-container">
               <div class="row">
                   <div class="col-xs-2">
                       <div class="question-left">
                           <a class="question-avatar-link" id="question-avatar">
                               <img src="{{question.user_ptr.avatar.url}}" class="img-rounded question-avatar-img" id="avatar">  
                           </a>
                           <div class="btn-group btn-group-xs likes-container">
                               <button onclick="like({{question.id}}, 1, 'question')" class="btn btn-success" id="like-btn-left">                                             <span class="glyphicon glyphicon-plus"></span>
                               </button>
                               <button class="btn btn-success" id="like{{question.id}}">{{question.rating}}</button>
                               <button onclick="like({{question.id}}, -1, 'question')" class="btn btn-success" id="like-btn-right">
                                   <span class="glyphicon glyphicon-minus"></span>
                               </button>
                           </div>
                       </div>
                   </div>
                   <div class="col-xs-10">
                       <div class="question-right">
                           <a href="{% url 'question' question.id %}"><div class="question-header" id="question-header">{{ question.title }}</div></a>
                           <div id="question-body">{{ question.text|truncatewords:30 }}</div>
                       </div>
                       <div class="question-tags">
                           {% for tag in question.tags.all %}
                                <span> 
                                    <a href="{% url 'tagged-questions' tag.name %}" class="label label-primary tags">{{ tag.name }}</a>
                                </span>
                           {% endfor %}
                       </div>
                       <div class="created-field">
                            <div class="text">{{ question.created|date:"d M Y" }} {{ question.created|time:"H:i" }}</div>
                       </div>
                   </div>
               </div>
           </div>
        {% endfor %}
        {% if Questions.has_other_pages %}
               <nav>
                   <ul class="pagination">

                       {% if Questions.has_previous %}
                                <li>
                                   <a href="?page={{ Questions.previous_page_number }}{% if sortBy %}&sort={{sortBy}}{% endif %}" aria-label="Previous">
                                       <span aria-hidden="true">&laquo;</span>
                                   </a>
                                </li>
                       {% endif %}

            
                       {% if showFirst %}
                            <li>
                                <a href="?page=1{% if sortBy %}&sort={{sortBy}}{% endif %}" aria-label="Previous">
                                    <span aria-hidden="true">1</span>
                                </a>
                            </li>
                            <li>
                                <span aria-hidden="true">...</span>
                            </li>
                       {% endif %}                                                         


                       {% for page in page_numbers %}
                            <li {% if page == Questions.number %} class="active" {% endif %}>
                                <a href="?page={{ page }}{% if sortBy %}&sort={{sortBy}}{% endif %}">
                                    <span aria-hidden="true">{{ page }}</span>
                                </a>
                            </li>
                       {% endfor %}

                       {% if showLast %}
                            <li>
                                <span aria-hidden="true">...</span>
                            </li>
                            <li>
                                <a href="?page={{ Questions.paginator.num_pages }}{% if sortBy %}&sort={{sortBy}}{% endif %}" aria-label="Previous">
                                    <span aria-hidden="true">{{ Questions.paginator.num_pages }}</span>
                                </a>
                            </li>
                       {% endif %}


                        {% if Questions.has_next %}
                                <li>
                                   <a href="?page={{ Questions.next_page_number }}{% if sortBy %}&sort={{sortBy}}{% endif %}" aria-label="Next">
                                       <span aria-hidden="true">&raquo;</span>
                                   </a>
                                </li>
                        {% endif %}

                   </ul>
               </nav>
        {% endif %}
    </div>              
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $.ajaxSetup({ 
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             } 
        });

       function like(objectId, likeType, objectType) {
            $.ajax({
                url : "{% url 'like' %}",
                type : "POST",
                data : { like_type : likeType,
                         object_id : objectId,
                         object_type : objectType
                        },
                success : function(data) {
                    $('#like'+objectId).text(data.new_rating);
                    if (data.error) {
                        alert(data.error);
                    }
                } 
            });
        };
    </script>
{% endblock %}