{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="col-xs-9">
   <div class="log-in-container panel panel-primary">
       <div class="h_tags panel-heading" id="panel-h">Log In</div>
       <div class="panel-body">
           {% for error in form.non_field_errors %}
               <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error }}</div>
           {% endfor %}
           <form class="form-horizontal" action="{% url 'login' %}?next={{ redirect_to }}" method="post">
               {% csrf_token %}
               <div class="form-group">
                   <label for="id_login" class="col-xs-3 control-label">Login</label>
                   <div class="col-xs-4">
                       <input type="text" class="form-control" name="login" id="id_login" maxlength="30" placeholder="Enter your login here" value="{{ form.cleaned_data.login }}">
                   </div>
                   {% for error in form.login.errors %}
                        <div class="col-xs-4 alert alert-danger" role="alert" id="field-error"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error }}</div>
                   {% endfor %}
               </div>
               <div class="form-group">
                   <label for="id_password" class="col-xs-3 control-label">Password</label>
                   <div class="col-xs-4">
                       <input type="password" class="form-control" maxlength="30" id="id_password" name="password" placeholder="Password">
                   </div>
                   {% for error in form.password.errors %}
                        <div class="col-xs-4 alert alert-danger" role="alert" id="field-error"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error }}</div>
                   {% endfor %}
               </div>
               <div class="form-group" id="login-btn-form">
                   <div class="col-xs-offset-3 col-xs-4">
                       <button type="submit" class="btn btn-success" value="LogIn">Log In!</button>
                   </div>
               </div>
           </form>
       </div>   
    </div>
</div>
{% endblock %}