{% extends "base.html" %}

{% block title %}Question{% endblock %}

{% block content %}
<div class="col-xs-9">
   <div class="one-question-container">
       <div class="question-container">
           <div class="row">
               <div class="col-xs-2">
                   <div class="question-left">
                       <a class="question-avatar-link" id="question-avatar">
                           <img src="{{Question.user.avatar}}" class="img-rounded question-avatar-img" id="avatar">  
                       </a>
                       <div class="btn-group btn-group-xs likes-container">
                           <button href="#" class="btn btn-success" id="like-btn-left">                                             <span class="glyphicon glyphicon-plus"></span>
                           </button>
                           <button class="btn btn-success" id="like-btn-counter">{{Question.rating}}</button>
                           <button href="#" class="btn btn-success" id="like-btn-right">
                               <span class="glyphicon glyphicon-minus"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <div class="col-xs-10">
                   <div class="question-right">
                       <div class="question-header" id="question-header">{{Question.title}}</div>
                       <div id="question-body">{{Question.text}}</div>
                   </div>
                   <div class="question-tags" id="one-question-tags">
                       {% for tag in Tags %}
                       <span> 
                           <a href="/?tag={{tag.name}}" class="label label-primary tags">{{tag.name}}</a>
                       </span>
                       {% endfor %}
                   </div>
                   <div class="created-field">
                       <div class="text">{{ Question.created|date:"d M Y" }} {{ Question.created|time:"H:i" }}</div>
                   </div>
               </div>
           </div>
       </div>
       <div class="divider"></div>
    </div>
    <div class="answers-container">
         {% for answer in Answers %}
            <div class="{% if answer.isCorrect %} answer-correct-container {% else %} answer-container {% endif %}">
            <div class="row">
               <div class="col-xs-2">
                   <div class="answer-left">
                       <a class="question-avatar-link" id="question-avatar">
                           <img src="{{answer.user.avatar}}" class="img-rounded question-avatar-img" id="avatar">  
                       </a>
                       <div class="btn-group btn-group-xs likes-container">
                           <button href="#" class="btn btn-success" id="like-btn-left">                                             <span class="glyphicon glyphicon-plus"></span>
                           </button>
                           <button class="btn btn-success" id="like-btn-counter">{{answer.rating}}</button>
                           <button href="#" class="btn btn-success" id="like-btn-right">
                               <span class="glyphicon glyphicon-minus"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <div class="col-xs-10">
                   <div class="question-right">
                       <div id="answer-body">{{answer.text}}</div>
                   </div>
                   <div class="row">
                       <div class="col-xs-2">
                           <div class="checkbox {% if User.id != answer.user %} disabled {% endif %}">
                               <label>
                                   <input type="checkbox" {% if answer.isCorrect %} checked {% endif %} {% if User.id != answer.user %} disabled {% endif %}> Correct!
                               </label>
                           </div>
                       </div>
                       <div class="col-xs-10">
                            <div class="created-field">
                                <div class="text">{{ answer.created|date:"d M Y" }} {{ answer.created|time:"H:i" }}</div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
       {% endfor %}
        {% if Answers.has_other_pages %}
               <nav>
                   <ul class="pagination">

                       {% if Answers.has_previous %}
                                <li>
                                   <a href="?page={{ Answers.previous_page_number }}" aria-label="Previous">
                                       <span aria-hidden="true">&laquo;</span>
                                   </a>
                                </li>
                       {% endif %}

            
                       {% if showFirst %}
                            <li>
                                <a href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">1</span>
                                </a>
                            </li>
                            <li>
                                <span aria-hidden="true">...</span>
                            </li>
                       {% endif %}                                                         


                       {% for page in page_numbers %}
                            <li {% if page == Answers.number %} class="active" {% endif %}>
                                <a href="?page={{ page }}">
                                    <span aria-hidden="true">{{ page }}</span>
                                </a>
                            </li>
                       {% endfor %}

                       {% if showLast %}
                            <li>
                                <span aria-hidden="true">...</span>
                            </li>
                            <li>
                                <a href="?page={{ Answers.paginator.num_pages }}" aria-label="Previous">
                                    <span aria-hidden="true">{{ Answers.paginator.num_pages }}</span>
                                </a>
                            </li>
                       {% endif %}


                        {% if Answers.has_next %}
                                <li>
                                   <a href="?page={{ Answers.next_page_number }}" aria-label="Next">
                                       <span aria-hidden="true">&raquo;</span>
                                   </a>
                                </li>
                        {% endif %}

                   </ul>
               </nav>
        {% endif %}
    </div>
    {% if User %}
        <div class="input-answer-container">
            <form class="form">
                <div class="form-group">
                    <textarea type="text" class="form-control question-textarea" rows="5" id="inputAnswer" placeholder="Enter your answer here..." maxlength="500"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Answer</button>
                </div>
            </form>
        </div>
    {% endif %}
</div>   
{% endblock %}