{% extends "base.html" %}

{% block title %}Question{% endblock %}

{% block content %}
<div class="col-xs-9">
   <div class="one-question-container">
       <div class="question-container">
           <div class="row">
               <div class="col-xs-2">
                   <div class="question-left">
                       <a class="question-avatar-link" id="question-avatar">
                           <img src="{{Question.user_ptr.avatar.url}}" class="img-rounded question-avatar-img" id="avatar">  
                       </a>
                       <div class="btn-group btn-group-xs likes-container">
                           <button class="btn btn-success" id="like-btn-left" onclick="like({{Question.id}}, 1, 'question')">                                             <span class="glyphicon glyphicon-plus"></span>
                           </button>
                           <button class="btn btn-success like-btn-counter" id="like{{ Question.id }}">{{Question.rating}}</button>
                           <button class="btn btn-success" id="like-btn-right" onclick="like({{Question.id}}, -1, 'question')">
                               <span class="glyphicon glyphicon-minus"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <div class="col-xs-10">
                   <div class="question-right">
                       <div class="question-header" id="question-header">{{Question.title}}</div>
                       <div id="question-body">{{Question.text}}</div>
                   </div>
                   <div class="question-tags" id="one-question-tags">
                       {% for tag in Question.tags.all %}
                       <span> 
                           <a href="{% url 'tagged-questions' tag.name %}" class="label label-primary tags">{{tag.name}}</a>
                       </span>
                       {% endfor %}
                   </div>
                   <div class="created-field">
                       <div class="text">{{ Question.created|date:"d M Y" }} {{ Question.created|time:"H:i" }}</div>
                   </div>
               </div>
           </div>
       </div>
       <div class="divider"></div>
    </div>
    <div class="answers-container">
         {% for answer in Answers %}
            <div class="{% if answer.isCorrect %} answer-correct-container {% else %} answer-container {% endif %}" id="answer{{ answer.id }}">
            <div class="row">
               <div class="col-xs-2">
                   <div class="answer-left">
                       <a class="question-avatar-link" id="question-avatar">
                           <img src="{{answer.user_ptr.avatar.url}}" class="img-rounded question-avatar-img" id="avatar">  
                       </a>
                       <div class="btn-group btn-group-xs likes-container">
                           <button onclick="like({{answer.id}}, 1, 'answer')" class="btn btn-success" id="like-btn-left">                                             <span class="glyphicon glyphicon-plus"></span>
                           </button>
                           <button class="btn btn-success" id="like{{ answer.id }}">{{answer.rating}}</button>
                           <button onclick="like({{answer.id}}, -1, 'answer')" class="btn btn-success" id="like-btn-right">
                               <span class="glyphicon glyphicon-minus"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <div class="col-xs-10">
                   <div class="question-right">
                       <div id="answer-body">{{answer.text}}</div>
                   </div>
                   <div class="row">
                       <div class="col-xs-2">
                           <div class="checkbox {% if User != Question.user_ptr %} disabled {% endif %}">
                               <label><input type="checkbox" id="correct{{answer.id}}" {% if answer.isCorrect %} checked {% endif %} {% if User != Question.user_ptr %} disabled {% endif %} onclick="setCorrect({{ answer.id }})"> Correct!</label>
                           </div>
                       </div>
                       <div class="col-xs-10">
                            <div class="created-field">
                                <div class="text">{{ answer.created|date:"d M Y" }} {{ answer.created|time:"H:i" }}</div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
       {% endfor %}
        {% if Answers.has_other_pages %}
               <nav>
                   <ul class="pagination">

                       {% if Answers.has_previous %}
                                <li>
                                   <a href="?page={{ Answers.previous_page_number }}" aria-label="Previous">
                                       <span aria-hidden="true">&laquo;</span>
                                   </a>
                                </li>
                       {% endif %}

            
                       {% if showFirst %}
                            <li>
                                <a href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">1</span>
                                </a>
                            </li>
                            <li>
                                <span aria-hidden="true">...</span>
                            </li>
                       {% endif %}                                                         


                       {% for page in page_numbers %}
                            <li {% if page == Answers.number %} class="active" {% endif %}>
                                <a href="?page={{ page }}">
                                    <span aria-hidden="true">{{ page }}</span>
                                </a>
                            </li>
                       {% endfor %}

                       {% if showLast %}
                            <li>
                                <span aria-hidden="true">...</span>
                            </li>
                            <li>
                                <a href="?page={{ Answers.paginator.num_pages }}" aria-label="Previous">
                                    <span aria-hidden="true">{{ Answers.paginator.num_pages }}</span>
                                </a>
                            </li>
                       {% endif %}


                        {% if Answers.has_next %}
                                <li>
                                   <a href="?page={{ Answers.next_page_number }}" aria-label="Next">
                                       <span aria-hidden="true">&raquo;</span>
                                   </a>
                                </li>
                        {% endif %}

                   </ul>
               </nav>
        {% endif %}
    </div>
    {% if User %}
        <div class="input-answer-container">
            <form class="form" name="answForm" onsubmit="return validateAnswForm()" action="{{ request.path }}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea type="text" class="form-control question-textarea" rows="5" name="answer" id="id_answer" placeholder="Enter your answer here..."></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" value="answer">Answer</button>
                </div>
            </form>
        </div>
    {% endif %}
</div>   
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $.ajaxSetup({ 
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             } 
        });

       function like(objectId, likeType, objectType) {
            $.ajax({
                url : "{% url 'like' %}",
                type : "POST",
                data : { like_type : likeType,
                         object_id : objectId,
                         object_type : objectType
                        },
                success : function(data) {
                    $('#like'+objectId).text(data.new_rating);
                    if (data.error) {
                        alert(data.error);
                    }
                }
            });
        };
        
        function setCorrect(answerId) {
            $.ajax({
                url : "{% url 'correct' %}",
                type : "POST",
                data : { answer_id : answerId },
                success : function(data) {
                    $('#correct'+answerId).text(data.new_state);
                    if (data.error) {
                        alert(data.error);
                    }
                }
            });
        };
        function validateAnswForm() {
            var a=document.forms["answForm"]["answer"].value;
            if (a==null || a=="") {
              $('#id_answer').parent().addClass('has-error');
              $('#id_answer').popover({ content: 'This field is required' });
              return false;
            }
        };
        $(document).ready(function() {
            if (window.location.hash != null && window.location.hash != '') 
                $('body').animate({
                    scrollTop: $(window.location.hash).offset().top
                }, 500);
        });
    </script>
{% endblock %}